@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-base-content: oklch(0.16 0 0);
    --color-base-100: oklch(0.95 0 0); /* #ededed */
    --color-base-200: oklch(0.97 0 0); /* #f5f5f5 */
    --color-base-300: oklch(1 0 0); /* #FEFEFE */

    --color-primary: oklch(0.16 0 0);
    --color-primary-content: oklch(1 0 0);

    --color-secondary: oklch(0.56 0.1933 256.16);
    --color-secondary-content: oklch(1 0 0);

    --color-accent: oklch(0.63 0 0); /* #888888 */
    --color-accent-content: oklch(1 0 0);

    --color-neutral: oklch(0.96 0 0); /* f2f2f2 */
    --color-neutral-content: oklch(0.37 0 0); /* #404040 */

    --color-error: oklch(0.96 0 0); /* f2f2f2 */
    --color-error-content: oklch(0.64 0.2008 24.82);
}